---
- name: Install libguestfs-tools
  ansible.builtin.dnf:
    name: libguestfs-tools
    state: present

# SAFETY CHECK: Get a list of all VMs (running or stopped)
- name: Check for existing VMs
  ansible.builtin.command: virsh list --all --name
  register: existing_vms
  changed_when: false

- name: Create VM Images (Overlay Method)
  ansible.builtin.command:
    cmd: "qemu-img create -f qcow2 -F qcow2 -b {{ base_image_path }} {{ libvirt_dir }}/{{ item.name }}.qcow2"
  args:
    creates: "{{ libvirt_dir }}/{{ item.name }}.qcow2"
  loop: "{{ lab_vms }}"

- name: Create Extra Disks
  ansible.builtin.command:
    cmd: "qemu-img create -f qcow2 {{ libvirt_dir }}/{{ item.0.name }}_{{ item.1.name }}.qcow2 {{ item.1.size }}"
  args:
    creates: "{{ libvirt_dir }}/{{ item.0.name }}_{{ item.1.name }}.qcow2"
  loop: "{{ lab_vms | subelements('extra_disks', skip_missing=True) }}"

# 1. Generate NetworkManager Connection Files
- name: Inject Network Configuration (Static IPs)
  ansible.builtin.copy:
    dest: "/tmp/{{ item.0.name }}_{{ item.1.name }}.nmconnection"
    mode: '0600'
    content: |
      [connection]
      id={{ item.1.name }}
      type=ethernet
      interface-name={{ item.1.name }}
      
      [ipv4]
      method={{ item.1.method }}
      {% if item.1.method == 'manual' %}
      address1={{ item.1.ip }}/{{ item.1.mask }}{{ ',' + item.1.gateway if item.1.gateway is defined else '' }}
      {% endif %}
      
      [ipv6]
      method=ignore
  loop: "{{ lab_vms | subelements('interfaces') }}"
  delegate_to: localhost

# 2. Run virt-customize to Upload Files and Set Hostname
- name: Apply Configuration to Disk
  ansible.builtin.command:
    cmd: >
      virt-customize -a {{ libvirt_dir }}/{{ item.name }}.qcow2
      --hostname {{ item.name }}.lab.example.com
      --root-password password:pa$$word
      --uninstall cloud-init
      --selinux-relabel
      {% for iface in item.interfaces %}
      --upload /tmp/{{ item.name }}_{{ iface.name }}.nmconnection:/etc/NetworkManager/system-connections/{{ iface.name }}.nmconnection
      --chmod 0600:/etc/NetworkManager/system-connections/{{ iface.name }}.nmconnection
      {% endfor %}
  loop: "{{ lab_vms }}"
  when: item.name not in existing_vms.stdout_lines

- name: Define and Start VMs
  ansible.builtin.command:
    cmd: >
      virt-install
      --name {{ item.name }}
      --memory {{ item.memory }}
      --vcpus {{ item.vcpus }}
      --disk path={{ libvirt_dir }}/{{ item.name }}.qcow2,device=disk,bus=virtio
      {% for disk in item.extra_disks | default([]) %}
      --disk path={{ libvirt_dir }}/{{ item.name }}_{{ disk.name }}.qcow2,device=disk,bus=virtio
      {% endfor %}
      --os-variant rhel9.0
      {% for iface in item.interfaces %}
      --network network={{ iface.network }},model=virtio
      {% endfor %}
      --graphics vnc,listen=0.0.0.0
      --import
      --noautoconsole
  register: vm_define
  failed_when: 
    - vm_define.rc != 0 
    - "'already exists' not in vm_define.stderr"
  changed_when: vm_define.rc == 0
  loop: "{{ lab_vms }}"