---
- name: Install virtualization packages (KVM/Libvirt)
  ansible.builtin.dnf:
    name:
      - qemu-kvm
      - libvirt
      - virt-install
      - bridge-utils
      - python3-libvirt
    state: present

- name: Install TigerVNC server for console access
  ansible.builtin.dnf:
    name: tigervnc-server
    state: present

- name: Start and enable libvirtd service
  ansible.builtin.systemd:
    name: libvirtd
    state: started
    enabled: yes

- name: Configure firewalld to allow VNC console access (Ports 5900-5905)
  ansible.posix.firewalld:
    port: 5900-5905/tcp
    permanent: yes
    state: enabled
    immediate: yes

# --- Storage Pool Definition ---
- name: Ensure target directory /vmfs/rhcsa_storage exists for new pool
  ansible.builtin.file:
    path: /vmfs/rhcsa_storage
    state: directory
    mode: '0755'

- name: 1/2. Define/Build the rhcsa_storage pool using raw XML
  community.libvirt.virt_pool:
    state: present
    name: rhcsa_storage
    uri: qemu:///system
    xml: |
      <pool type='dir'>
        <name>rhcsa_storage</name>
        <target>
          <path>/vmfs/rhcsa_storage</path>
        </target>
      </pool>

- name: 2/2. Activate and enable rhcsa_storage pool
  community.libvirt.virt_pool:
    state: active
    name: rhcsa_storage
    autostart: yes

# --- Download Local Installation ISO ---
- name: Download CentOS Stream 9 Everything ISO to /vmfs/rhcsa_storage (7.7 GB)
  ansible.builtin.get_url:
    url: "https://mirrors.centos.org/mirrorlist?path=/9-stream/BaseOS/x86_64/iso/CentOS-Stream-9-latest-x86_64-dvd1.iso&redirect=1&protocol=https"
    dest: /vmfs/rhcsa_storage/CentOS-Stream-9-latest-x86_64-dvd1.iso
    mode: '0644'